<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mazia 장바구니 담기 결과 팝업</title>

    <!-- css -->
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../css/popup.css">
</head>
<body>
    <div class="container">
        <!-- contents -->
        <section class="contents">
            <div class="pop-head">
                <h3>제품이 장바구니에 성공적으로 추가되었습니다.</h3>
            </div>

            <div class="pop-body">
                <div class="cart-cont">
                    <!-- 장바구니 담은 상품 정보 -->
                    <div class="prod-photo">
                        <div class="thumbnail">
                            <img src="../../img/main/main-890-948.jpg" alt="">
                        </div>

                        <div class="info-box">
                            <h3 class="prod-name">Elegant wooden leg design Replica</h3>
                            <p class="price">$58.00</p>
                            
                            <table class="cart-opt">
                                <colgroup>
                                    <col style="width: 25%;">
                                    <col>
                                </colgroup>

                                <tr>
                                    <th>사이즈</th>
                                    <td>S</td>
                                </tr>
                                <tr>
                                    <th>색상</th>
                                    <td>흰색</td>
                                </tr>
                                <tr>
                                    <th>수량</th>
                                    <td>2</td>
                                </tr>
                            </table>
                        </div>
                    </div>
            
                    <!-- 장바구니 리스트 전체 정보 -->
                    <div class="prod-txt">
                        <h5>장바구니에 <span>3개</span>의 상품이 있습니다.</h5>
            
                        <ul class="total">
                            <li>
                                총 금액 <strong>$66.96</strong>
                            </li>
                            <li>
                                총 배송비 <strong>$7.00</strong>
                            </li>
                            <li>
                                합계 <strong>$73.96</strong>
                            </li>
                        </ul>
            
                        <div class="btn-group">
                            <a href="javascript:void(0);" class="btn">쇼핑을 계속</a>
                            <a href="/mazia/views/cart/list.html" class="btn">장바구니 확인</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>