<footer>
    <div class="footer-top">
        <div class="inner">
            <!-- newsletter -->
            <div class="newsletter">
                <div class="title">
                    <h2>Sign Up For Our Newsletter</h2>
                    <p>뉴스레터를 구독하고 20% 할인을 받으세요</p>
                </div>
            
                <div class="newsletter-form">
                    <form action="#" id="" name="">
                        <input type="text" class="news-search" placeholder="뉴스레터 검색...">
                        <button type="submit" class="generic-btn red-hover-btn text-uppercase float-right">Subscribe
                            Now</button>
                    </form>
                </div>
            </div>

            <!-- service -->
            <div class="service">
                <article class="service-item">
                    <div class="icons bounce">
                        <i class="fa-solid fa-globe"></i>
                    </div>

                    <div class="service-box-content">
                        <h4 class="title">해외 어디든 배송가능</h4>
                        <p class="service-desc">
                            Duis autem vel eum iriure dolor in hendrerit velit esse molestie consequat.
                        </p>
                    </div>
                </article>
                
                <article class="service-item">
                    <div class="icons bounce">
                        <i class="fa-solid fa-phone"></i>
                    </div>

                    <div class="service-box-content">
                        <h4 class="title">연중무휴 온라인 지원</h4>
                        <p class="service-desc">
                            Duis autem vel eum iriure dolor in hendrerit velit esse molestie consequat.
                        </p>
                    </div>
                </article>
                
                <article class="service-item">
                    <div class="icons bounce">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                    </div>

                    <div class="service-box-content">
                        <h4 class="title">환불 보장</h4>
                        <p class="service-desc">
                            Duis autem vel eum iriure dolor in hendrerit velit esse molestie consequat.
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="inner">
            <div class="footer-item">
                <div class="logo">
                    <a href="../../views/main/index.html"><img src="../../img/common/logo_white.png" alt="logo"></a>
                </div>

                <div class="footer-desc">
                    <p>
                        Mazia 스토어는 고급 관리 모듈이 포함된 프리미엄 테마입니다.<br>
                        사용자 정의가 가능하고 사용하기 쉬우며 완벽하게 반응하고 레티나를 지원합니다.
                    </p>
                </div>

                <div class="footer-paypal">
                    <img src="../../img/common/paypal.png" alt="">
                </div>
            </div>

            <div class="footer-menu-row">
                <div class="footer-menu">
                    <ul>
                        <li class="title">MY ACCOUNT</li>
                        <li><a href="login.html">My account</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="shop2.html">Shop</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                        <li><a href="question.html">Frequently</a></li>
                    </ul>
                </div>
            
                <div class="footer-menu">
                    <ul>
                        <li class="title">Quick Links</li>
                        <li><a href="shop2.html">Special Offers</a></li>
                        <li><a href="shop2.html">Gift Cards</a></li>
                        <li><a href="shop2.html">F21 Red</a></li>
                        <li><a href="about.html">Privacy Policy</a></li>
                        <li><a href="about.html">Teams of Use</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                    </ul>
                </div>
            
                <div class="footer-menu">
                    <ul>
                        <li class="title">Company Info</li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="blog.html">Careers</a></li>
                        <li><a href="portfolio2.html">Business With Us</a></li>
                        <li><a href="shop2.html">Find a Store</a></li>
                        <li><a href="question.html">Teams of Use</a></li>
                        <li><a href="portfolio3.html">Press & Talent</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="javascript:void(0);" class="scroll-up">
    <i class="fa-solid fa-angles-up"></i>
</a>