<header class="header-sticky">
    <div class="nav-wrap">
        <!-- top logo -->
        <div class="logo">
            <a href="../../views/main/index.html"><img src="../../img/common/logo.png" alt="logo"></a>
        </div>

        <!-- mobile menu -->
        <div class="mobile-menu">
            <ul>
                <li>
                    <a href="javascript:void(0)">Home</a>
                    <ul>
                        <li><a href="../prod/list.html">Home Fashion 1</a></li>
                        <li><a href="../prod/list2.html">Home Fashion 2</a></li>
                        <li><a href="../prod/list.html">Home Fashion 3</a></li>
                        <li><a href="../prod/list2.html">Home Fashion 4</a></li>
                        <li><a href="../prod/list.html">Home Fashion 5</a></li>
                        <li><a href="../prod/list2.html">Home Fashion 6</a></li>
                        <li><a href="../prod/list.html">Home Fashion 7</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)">Shop</a>
                    <ul>
                        <li><a href="../prod/list.html">Shop Layout</a></li>
                        <li><a href="../prod/list2.html">Masonry – Grid</a></li>
                        <li><a href="../prod/list.html">Pagination</a></li>
                        <li><a href="../prod/list2.html">Ajax Load More</a></li>
                        <li><a href="shop2.html">Infinite Scroll</a></li>
                        <li><a href="shop2.html">Sidebar Right</a></li>
                        <li><a href="shop.html">Sidebar Left</a></li>
                        <li><a href="shop.html">Shop Pages</a></li>
                        <li><a href="shop2.html">List View</a></li>
                        <li><a href="shop3.html">Small Products</a></li>
                        <li><a href="shop2.html">Large Products</a></li>
                        <li><a href="shop3.html">Shop — 3 Items</a></li>
                        <li><a href="shop3.html">Shop — 4 Items</a></li>
                        <li><a href="shop4.html">Shop — 5 Items</a></li>
                        <li><a href="single-product-2.html">Product Layout</a></li>
                        <li><a href="single-product.html">Description Sticky</a></li>
                        <li><a href="single-product-2.html">Product Carousels</a></li>
                        <li><a href="single-product-3.html">Gallery Modern</a></li>
                        <li><a href="single-product-4.html">Thumbnail Left</a></li>
                        <li><a href="single-product-5.html">Thumbnail Right</a></li>
                        <li><a href="single-product-6.html">Thumbnail Botttom</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)">Blog</a>
                    <ul>
                        <li><a href="blog.html">Grid layout</a></li>
                        <li><a href="blog2.html">Large image</a></li>
                        <li><a href="blog3.html">Left Sidebar</a></li>
                        <li><a href="blog4.html">Right Sidebar</a></li>
                        <li><a href="blog5.html">No sidebar</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)">Portfolio</a>
                    <ul>
                        <li><a href="portfolio.html">Single project</a></li>
                        <li><a href="portfolio2.html">Two Columns</a></li>
                        <li><a href="portfolio3.html">Three Columns</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <!-- GNB -->
        <nav>
            <ul>
                <li>
                    <a href="javascript:void(0)" class="active">
                        <span>Home <i class="fa-solid fa-angle-down"></i></span>
                    </a>

                    <ul class="submenu">
                        <li><a href="../prod/list.html">Home Page 1</a></li>
                        <li><a href="../prod/list2.html">Home Page 2</a></li>
                        <li><a href="../prod/list.html">Home Page 3</a></li>
                        <li><a href="../prod/list2.html">Home Page 4</a></li>
                        <li><a href="../prod/list.html">Home Page 5</a></li>
                        <li><a href="../prod/list2.html">Home Page 6</a></li>
                        <li><a href="../prod/list.html">Home Page 7</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)">
                        <span>Shop <i class="fa-solid fa-angle-down"></i></span>
                    </a>

                    <div class="mega-menu">
                        <ul>
                            <li><strong>카테고리 제목</strong></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Stationery</a></li>
                            <li><a href="#">Clothes</a></li>
                        </ul>

                        <ul>
                            <li><strong>카테고리 제목</strong></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Stationery</a></li>
                            <li><a href="#">Clothes</a></li>
                        </ul>

                        <ul>
                            <li><strong>카테고리 제목</strong></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Stationery</a></li>
                            <li><a href="#">Clothes</a></li>
                        </ul>
                        
                        <!-- banner image size: 400x300-->
                        <div class="mega-bnr">
                            <img src="" alt="">
                        </div>
                    </div>
                </li>

                <li>
                    <a href="javascript:void(0)">
                        <span>Event <i class="fa-solid fa-angle-down"></i></span>
                    </a>
                    <ul class="submenu">
                        <li><a href="#">event lsit</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)">
                        <span>Clothes</span> <i class="fa-solid fa-angle-down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                    </ul>
                </li>

                <li><a href="#"><span>Contact</span></a></li>
            </ul>
        </nav>

        <div class="util">
            <ul>
                <!-- login/sign up -->
                <li>
                    <a href="../auth/login.html" class="account">
                        <i class="fa-solid fa-user-group"></i> Login/Sign up
                    </a>
                </li>
                
                <!-- search -->
                <li>
                    <a href="javascript:void(0)" class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>

                    <!-- popup : 검색 -->
                    <div class="search-popup">
                        <!-- 해당 popup 닫기 -->
                        <a href="javascript:void(0);" class="close-search">닫기</a>
                    
                        <div class="search-inner">
                            <!-- title -->
                            <div class="search-title">
                                <h2>Search</h2>
                            </div>
                    
                            <!-- 검색 contents -->
                            <div class="search-cont">
                                <!-- 카테고리 -->
                                <ul>
                                    <li><a href="javascript:void(0)" class="active">All categories</a></li>
                                    <li><a href="javascript:void(0)">Clothing</a></li>
                                    <li><a href="javascript:void(0)">Gift Cards</a></li>
                                    <li><a href="javascript:void(0)">Handbag</a></li>
                                    <li><a href="javascript:void(0)">Kids</a></li>
                                    <li><a href="javascript:void(0)">Shoes</a></li>
                                    <li><a href="javascript:void(0)">Sneaker</a></li>
                                    <li><a href="javascript:void(0)">Women</a></li>
                                </ul>
                            
                                <!-- 검색창 -->
                                <div class="search-form">
                                    <form action="#" name="" id="">
                                        <input type="text" placeholder="키워드를 입력하세요...">
                                        <button type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            
                                <!-- 검색 결과 list -->
                                <div class="search-result">
                                    <ul>
                                        <li>
                                            <!-- image size : 800x948 -->
                                            <div class="thumbnail">
                                                <img src="../../img/product/thumbnail-size.jpg" alt="">
                                            </div>
                                    
                                            <div class="desc">
                                                <a href="shop2.html" class="title">
                                                    ELLE - Recliner syntheti chair
                                                </a>
                                                <div class="price">$399</div>
                                            </div>
                                        </li>
                                        
                                        <li>
                                            <!-- image size : 800x948 -->
                                            <div class="thumbnail">
                                                <img src="../../img/product/thumbnail-size.jpg" alt="">
                                            </div>
                                    
                                            <div class="desc">
                                                <a href="shop2.html" class="title">
                                                    ELLE - Recliner syntheti chair
                                                </a>
                                                <div class="price">$399</div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="thumbnail">
                                                <!-- image size : 800x948 -->
                                                <img src="../../img/product/thumbnail-size.jpg" alt="">
                                            </div>
                                    
                                            <div class="desc">
                                                <a href="shop2.html" class="title">
                                                    ELLE - Recliner syntheti chair
                                                </a>
                                                <div class="price">$399</div>
                                            </div>
                                        </li>

                                        <li>
                                            <!-- image size : 800x948 -->
                                            <div class="thumbnail">
                                                <img src="../../img/product/thumbnail-size.jpg" alt="">
                                            </div>
                                    
                                            <div class="desc">
                                                <a href="shop2.html" class="title">
                                                    ELLE - Recliner syntheti chair
                                                </a>
                                                <div class="price">$399</div>
                                            </div>
                                        </li>

                                        <li>
                                            <!-- image size : 800x948 -->
                                            <div class="thumbnail">
                                                <img src="../../img/product/thumbnail-size.jpg" alt="">
                                            </div>
                                    
                                            <div class="desc">
                                                <a href="shop2.html" class="title">
                                                    ELLE - Recliner syntheti chair
                                                </a>
                                                <div class="price">$399</div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="thumbnail">
                                                <!-- image size : 800x948 -->
                                                <img src="../../img/product/thumbnail-size.jpg" alt="">
                                            </div>
                                    
                                            <div class="desc">
                                                <a href="shop2.html" class="title">
                                                    ELLE - Recliner syntheti chair
                                                </a>
                                                <div class="price">$399</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <!-- wish list -->
                <li>
                    <a href="../wished/list.html" class="wish-icon">
                        <i class="fa-regular fa-heart"></i> <span>0</span>
                    </a>
                </li>

                <!-- mini cart -->
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-bag-shopping"></i> <span>5</span>
                    </a>

                    <div class="minicart">
                        <form action="#" name="" id="">
                            <!-- 미니 장바구니 list : 가장 최근 담은 상품 3개까지만 노출 -->
                            <ul class="minicart-list">
                                <li>
                                    <!-- image size : 800x948 -->
                                    <div class="thumbnail">
                                        <img src="../../img/product/thumbnail-size.jpg" alt="">
                                    </div>
                    
                                    <div class="desc">
                                        <!-- 상품명 -->
                                        <a href="single-product-3.html" class="prod-name">
                                            apitalize apitalize on low hanging fruitt apitalize on low hanging fruitt
                                        </a>
                                        <!-- 수량 x 가격 -->
                                        <strong class="price">1 x $250.00</strong>
                                    </div>
                    
                                    <!-- list 삭제 icon -->
                                    <button type="button" class="remove">
                                        <i class="fa-regular fa-circle-xmark"></i>
                                    </button>
                                </li>
                    
                                <li>
                                    <!-- image size : 800x948 -->
                                    <div class="thumbnail">
                                        <img src="../../img/product/thumbnail-size.jpg" alt="">
                                    </div>
                    
                                    <div class="desc">
                                        <!-- 상품명 -->
                                        <a href="single-product-3.html" class="prod-name">
                                            apitalize on low hanging fruitt
                                        </a>
                                        <!-- 수량 x 가격 -->
                                        <strong class="price">1 x $250.00</strong>
                                    </div>
                    
                                    <!-- list 삭제 버튼 -->
                                    <button type="button" class="remove">
                                        <i class="fa-regular fa-circle-xmark"></i>
                                    </button>
                                </li>
                    
                                <li>
                                    <!-- image size : 800x948 -->
                                    <div class="thumbnail">
                                        <img src="../../img/product/thumbnail-size.jpg" alt="">
                                    </div>
                    
                                    <div class="desc">
                                        <!-- 상품명 -->
                                        <a href="single-product-3.html" class="prod-name">
                                            apitalize on low hanging fruitt
                                        </a>
                                        <!-- 수량 x 가격 -->
                                        <strong class="price">1 x $250.00</strong>
                                    </div>
                    
                                    <!-- list 삭제 버튼 -->
                                    <button type="button" class="remove">
                                        <i class="fa-regular fa-circle-xmark"></i>
                                    </button>
                                </li>
                            </ul>
                    
                            <dl class="total-price">
                                <dt>Subtotal:</dt>
                                <dd>503.00</dd>
                            </dl>

                            <div class="btn-group">
                                <a href="../cart/list.html" class="btn generic-btn black-hover-btn">장바구니 보기</a>
                                <a href="../order/form.html" class="btn generic-btn black-hover-btn">구매하기</a>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- tight my menu -->
                <li>
                    <a href="javascript:void(0)" class="my-menu">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </a>

                    <ul class="mymenu">
                        <li><a href="#">마이페이지</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="../wished/list.html">위시리스트</a></li>
                        <li><a href="../cscenter/faq/list.html">자주하는질문</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>